@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TomeSans";
    src: url("/public/font/TomeSans.ttf") format("truetype");
}

.sidebar-bottom-gradient {
    background: transparent linear-gradient(134deg, #faccd1 0%, #d2d2fc 100%) 0%
        0% no-repeat padding-box;
}

.custom-dotted-line {
    border-top: 2px dotted;
    border-color: #ff0000; /* Customize the color */
    border-spacing: 1px; /* Adjust this value for spacing between dots */
}

.fc-scrollgrid-sync-inner {
    @apply text-[#9F9F9F] text-[15px] font-normal;
}

.fc-daygrid-day {
    @apply bg-white;
}

.fc-daygrid-day-number {
    @apply bg-[#F0F0F0] w-7 h-7 text-center rounded-full m-2 text-[#222222];
}

.fc .fc-daygrid-day.fc-day-today {
    @apply bg-white;
}

.fc-day-today .fc-daygrid-day-number {
    @apply bg-[#4453A5] w-7 h-7 text-center text-white;
}
.fc-event-title {
    font-weight: 400 !important;
    margin-left: 4px;
    font-size: 14px !important;
    color: #4453a5;
}

.fc-event-main-frame {
    @apply border-[#4453A5];
}

.fc-event-time {
    color: #4453a5;
}

.fc-daygrid-event-dot {
    @apply mx-2 text-[#222222];
}

#default-sidebar {
    transition: transform 0.3s ease; /* Smooth transition */
}

.sidebar-collapsed {
    transform: translateX(-100%); /* Move the sidebar off-screen */
    transition: transform 0.5s ease; /* Smooth transition */
}
